<div class="container">
  <h1>Add class</h1>
  <div class="row">
    <div class="col-md-8" >
      <form (ngSubmit)="saveClass()" #ClassForm="ngForm">
         <div class="input-group">
                         <div class="col-sm-3">
                            <div class="form-group">
                                     <label for="email_address_2">Class Name</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="" class="form-control"[(ngModel)]="_class.name"  name="name"   placeholder="Enter Class Name" required >
                                </div>
                            </div>
                         </div>
                    </div>

         <div class="input-group">
                         <div class="col-sm-3">
                            <div class="form-group">
                                     <label for="email_address_2">Maximum Capicity</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="number" class="form-control"[(ngModel)]="_class.max_capacity"  name="max_capacity" placeholder="Enter total capacity" required >
                                </div>
                            </div>
                         </div>
                    </div>
        <div class="input-group">
                         <div class="col-sm-3">
                            <div class="form-group">
                                     <label for="email_address_2">Description</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control"[(ngModel)]="_class.description"  name="mother_name"   placeholder="Enter description " required >
                                </div>
                            </div>
                         </div>
                    </div>
     
 
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!ClassForm.form.valid" > Save </button>
        </div>
      </form>
    </div>
  </div>
</div>