<div class="container">
  <h1>Edit Parents</h1>
  <div class="row">
    <div class="col-md-8" >
      <form (ngSubmit)="updateParents()" #studentForm="ngForm">
         <div class="input-group">
                         <div class="col-sm-3">
                            <div class="form-group">
                                     <label for="email_address_2">Student Name</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="Text" class="form-control"[(ngModel)]="student.user.full_name"  name="Student Name"   placeholder="Enter Student Name" readonly >
                                </div>
                            </div>
                         </div>
                    </div>

         <div class="input-group">
                         <div class="col-sm-3">
                            <div class="form-group">
                                     <label for="email_address_2">Parents Name</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="Name" class="form-control"[(ngModel)]="Parents.full_name"  name="Father Name" placeholder="Enter Parents Name" required >
                                </div>
                            </div>
                         </div>
                    </div>
       
        <div class="input-group">
                         <div class="col-sm-3">
                            <div class="form-group">
                                     <label for="email_address_2">Address</label>
                            </div>
                          </div>
                           <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control"[(ngModel)]="student.user.addresss"  name="Address"  required >
                                </div>
                            </div>
                         </div>
                    </div>
          

        
       

         <div class="input-group">
                         <div class="col-sm-3">
                            <div class="form-group">
                                     <label for="email_address_2"> ContactNumber</label>
                            </div>
                           </div>
                           <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="Number" class="form-control"[(ngModel)]="student.user.phoneno"  name="ParentsNumber"  minlength="6" placeholder="Enter Father/Mother Contact Number"  maxlength="12" >
                                </div>
                            </div>
                         </div>
              </div>

        
        
      
              <div class="input-group">
                          <div class="col-sm-3">
                            <div class="form-group">
                                     <label for="email_address_2">Image</label>
                            </div>
                           </div>
                           <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="File" class="form-control"[(ngModel)]="student.user.image"  name="image"  >
                                </div>
                            </div>
                         </div>
            </div>
            

        

        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!studentForm.form.valid" > Save </button>
        </div>
      </form>
    </div>
  </div>
</div>